<div class="row">
  <div class="col-sm-2">
    <h3>Labels</h3>
    <ul class="nav nav-pills nav-stacked">
      <li
        ng-repeat="ilabel in interestingLabels"
        ui-sref-active="active">
        <a ui-sref="label({id: '{{ilabel.name | lowercase}}'})">
          <i class="fa fa-fw fa-{{ilabel.icon}}"></i>
          {{::ilabel.name}}
          <span ng-show="labels[ilabel.name].result.threadsUnread">
            (<b>{{labels[ilabel.name].result.threadsUnread}}</b>)
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-10">
    <div ui-view></div>
  </div>
</div>
