<div class="row">
  <div class="col-sm-5">
    <img class="banner-img" src="/img/usage.png" alt="example inbox">
  </div>
  <div class="col-sm-7">
    <h1 class="banner-txt">Make-Your-Own-Gmail</h1>
    <h3>To view your own Gmail account:</h3>
    <div class="text-center">
      <button class="btn btn-primary btn-lg btn-auth" ng-click="doSignup()">Get Started&nbsp;&nbsp;&nbsp;<i class="fa fa-google"></i></button>
    </div>
  </div>
</div>
<hr>
<div class="row hero">
  <div class="col-sm-12">
    <h1>About</h1>
    <p>This was built as a prototype to demo how to build your own version of 
    Gmail.com, using the <a href="https://developers.google.com/api-client-library/javascript/start/start-js">Google JavaScript SDK</a>.</p>
    <p>The <a href="https://github.com/mmautner/make-your-own-gmail">source code</a> 
    is available under an MIT license on Github.</p>
    <p>The author is me, <a href="http://maxmautner.com/">Max Mautner</a>! I'm 
    a huge fan of email, and you can feel free to <a href="mailto:max.mautner+gmail@gmail.com">email me</a> ;)</p>
  </div>
</div>
<hr>
