<div class="row">
  <div class="col-sm-8">
    <img class="banner-img" src="/img/usage.png" alt="example inbox">
  </div>
  <div class="col-sm-4">
    <h1 class="banner-txt">ScripterMail</h1>
    <h3>Eliminate your email workload by avoiding <i>gmail.com</i>.</h3>
    <div class="text-center">
      <button class="btn btn-primary btn-lg btn-auth" ng-click="doSignup()">Get Started&nbsp;&nbsp;&nbsp;<i class="fa fa-google"></i></button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="promo-div">
      <i class="fa fa-coffee fa-3x fa-pull-left fa-border"></i>
      <h2>Gmail Power User?</h2>
      <p>
        Extend your email experience by installing plugins for your 
        Gmail inbox.
      </p>
      <p>
        We have free plugins for open/click/attachment tracking--all w/ privacy baked in.
      </p>
      <p>
        <a ui-sref="marketplace">See some examples</a>.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="promo-div">
      <i class="fa fa-television fa-3x fa-pull-left fa-border"></i>
      <h2>Develop Plugins</h2>
      <p>
        Reach an audience of developers by easily writing value-add plugins 
        for the Gmail experience.
      </p>
      <p>
        <a ui-sref="examples">Get started with some sample code</a>.
      </p>
    </div>
  </div>
</div>
