<div class="row">
  <div class="col-sm-offset-6 col-sm-6">
    <h1>ScripterMail</h1>
    <h3>Scale your email usage</h3>
    <button class="btn btn-primary btn-lg" ng-click="doSignup()"><i class="fa fa-google"></i> Get Started</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Gmail Power Users</h3>
    <p>Extend your email experience by installing plugins for your 
    Gmail inbox.<br>
    <a ui-sref="marketplace">See some examples</a>.</p>
  </div>
  <div class="col-md-6">
    <h3>Develop Plugins</h3>
    <p>Reach an audience of developers by easily writing value-add plugins 
    for the Gmail experience.<br>
    <a ui-sref="examples">Get started with some examples</a>.</p>
  </div>
</div>
