<h1>{{::title | titlecase}}</h1>
<div class="threads">
  <div class="row row-fluid thread" ng-repeat="ithread in threads">
    <a ui-sref="thread({threadId: ithread.id})">
      <div class="col-sm-3 col-thread" ng-class="{ 'bold': ithread.unreadMsgs.length }">
        {{ ithread.participants | joinParticipants }}
        <span ng-if="ithread.messages.length > 1">({{ithread.messages.length}})</span>
      </div>
      <div class="col-sm-9 col-thread">
        <span ng-class="{ 'bold': ithread.unreadMsgs.length }">{{ithread.subject}}</span>
        <span class="preview-text" ng-bind-html="ithread.snippet | html"></span>
      </div>
    </a>
  </div>
</div>
