<h1>Hey</h1>
<p>{{messages[0].snippet}}</p>
<ul class="list-unstyled">
  <li ng-repeat="message in messages">
    <span am-time-ago="message.internalDate | num"></span>
    <span
      ng-repeat="label in message.labelIds"
      class="label label-default">
      {{label}}
    </span>
    <span ng-bind-html="message.snippet | html"></span>
  </li>
</ul>
<ul class="nav nav-tabs">
  <li ng-model="sendType" class="active">
    <a ng-click="reply()"><i class="fa fa-reply"></i> Reply</a>
  </li>
  <li ng-model="sendType">
    <a ng-click="replyAll()"><i class="fa fa-reply-all"></i> Reply-All</a>
  </li>
  <li ng-model="sendType">
    <a ng-click="forward()"><i class="fa fa-share"></i> Forward</a>
  </li>
</ul>
<form method="post">
  <textarea ckeditor="editorOptions" ng-model="emailBody"></textarea>
</form>
<div class="btn-group">
  <button class="btn btn-default" ng-click="save()">Save</button>
  <button class="btn btn-default" ng-click="send()">Send</button>
</div>
